<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <!--
  |===================|====================================================================|
  |  Cignal Settings  | After Every change in this file, you need to re-run Application.   |
  |===================|====================================================================|
  -->

    <!--Store ID-->
    <add key="StoreId" value="4" />
    <!--Value Must be number from 1 to 10,000, 0 or empty will be considered nothing and will select all records-->
    <!--select top 1200 ...... from transaction -->
    <add key="TopForSelectTransactions" value="700" />
    <!--Path to srore and retreive brec nos locally, the file will be created automaticlly, however you need to create folders, if reqired -->
    <add key="PathForTransaction" value="C:\Cignal\Transaction_brec.txt" />
    <!--MS Access DB Path for assigned Write-Read permissions -->
    <add key="AccessDbPath" value="C:\Cignal\cigscan.accdb" />
    <!--Path to srore and retive brec nos locally, the file will be created automaticlly, however you need to create folder -->
    <add key="PathForClosePath" value="C:\Cignal\closecash.txt" />
  </appSettings>

  <connectionStrings>
    <!--Change Data Source to your MS Access db location-->
    <add name="MsAccessCS" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Cignal\cigscan.accdb;" />
    <!--Do not change anything in MySQLCS -->
    <add name="MySQLCS" connectionString="vYyYjmdHzSnDCmYqRuj3yBW34TezXYm8WB4fYAZWbUXn/WcGVRsfaXQWWtrGOF2uN9nAVlkxwSdRwlKOqsWDGnHcrf8ciGnqE417FbFRdxz/sZJjB+OiXacMZO9m1A8GldcxQL+e9yoQkB7Xy3h+yg==" providerName="" />
  </connectionStrings>

  
</configuration>